<ion-header>
  <ion-navbar>
    <ion-title>
      Assignment 2
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <h3>
            Enter the right code
          </h3>
          <p *ngIf="!didWin()"> Tap twice, press four times </p>
          <p *ngIf="didWin()"> You Won! </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-list padding>
                <ion-item>Tapped: {{tapped}}</ion-item>
                <ion-item>Pressed: {{pressed}}</ion-item>
              </ion-list>
        </ion-col>
      </ion-row>
      <reset-buttons (didReset)="onDidReset($event)"></reset-buttons>   
      <ion-row>
        <ion-col text-center class="event-field" (tap)="onTapped()">Tap here</ion-col>
        <ion-col text-center class="event-field" (press)="onPressed()">Press here</ion-col>
      </ion-row>
  </ion-grid>
  
 
</ion-content>
